<p>Olá,</p>

<p>A regra de automação <b>{{meta['rule_name']}}</b> foi desativada porque possui condições inválidas.</p>
<p>Isso geralmente acontece quando você exclui algum atributo personalizado que ainda está sendo usado nas regras de automação.</p>

<p>
Clique <a href="{{action_url}}">aqui</a> para atualizar as condições.
</p>
